/*
.robotInfo {
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/

/*
.imageControl {
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/
div.container{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);

    overflow: hidden;
}

#divListingMain
{
    white-space:pre-wrap;
    padding: 200px 0px 0px 0px;
    bottom: 0;
    left: 0;
}

#zone_joystick {
    display: block;
    position: absolute;
    width: 100%;
    height: 75%;
    left: 0;
    top: 0;
    outline-style: solid;
    outline-color: blue;
    outline-width: thick;

}

#video_source{
    display:block;
    width:100%; height:100%;
    object-fit: cover;
    background-color: white;
    background-image: url("/static/plane_loading.gif"), url('/static/waiting.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;

    outline-style: solid;
    outline-color: red;
    outline-width: thick;

}

div.infoBox{
    position: fixed;
    float: right;

    top: 78%;
    left: 0px;

    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 20%;

    border: 3px solid rgb(48, 19, 175);

    overflow: scroll;

    text-align: center;

    font-size: 150%;
}

div.robotInfo{
    float: left;
}

div.sensorsInfo{
    float: right;
}

div.distanseSensor{
    float: left;
    margin: auto 10px;
}

div.lysogFargeSensor{
    float: left;
    margin: auto 10px;
}

div.controlBox{
    position: fixed;
    float: left;

    top: 76%;
    right: 0px;
    width: 40%;
    height: auto;
    max-width: 430px;
    max-height: 24%;
    border: 3px solid rgb(48, 19, 175);

    overflow: auto;
}

div.imageControl{
	position: relative;
	top: 0px;
	left: 0px;
    float: left;
    overflow: hidden;
    width: 50%;
    max-width: 200px;
    max-height: 200px;
}

div.buttons{
	display: inline;

	float: left;

	position: relative;
	top: 0px;
	right: 0px;

	margin: 1px auto;

    overflow: auto;

}

#keyboardImage{
    width:100%;
    height:100%;
}

button {
	min-width: 50px;
	min-height: 50px;

	color: #058;
	font: old 84% 'trebuchet ms',helvetica,sans-serif;
	background-color: #fed;
	border: 1px solid;
	border-color: #696 #363 #363 #696;

	font-size: 150%;
}

/*
.robot {
    position: absolute;
    height: auto;
    width: 20%;
    min-width: 220px;
    padding: 1%;
    font-family: "Lucida Sans Typewriter";
    color: rgb(68, 68, 68);
    background: rgba(223, 226, 219, 0.7);

    outline-style: solid;
    outline-color: green;
    outline-width: thick;

}
*/

/*
.sensors {
    position: absolute;
    height: auto;
    width: 20%;
    min-width: 220px;
    padding: 1%;
    font-family: "Lucida Sans Typewriter";
    color: rgb(68, 68, 68);
    background: rgba(223, 226, 219, 0.7);

    outline-style: solid;
    outline-color: black;
    outline-width: thick;

}
*/

/*
.imageControl {
    position:absolute;
    width:350px;
    height:200px;
    right:50%;
    left:25%;
    bottom:0.5%;
    background: rgba(223, 226, 219, 0.7);
}
*/

/*
.buttons {
    position:absolute;
    width:auto;
    height:auto;
    bottom:5%;
    right:25%;
    left:50%;
    background: rgba(223, 226, 219, 0.7);
}
*/
