<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='static/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <script src="../static/nipplejs.js"></script>
    <script src="../static/jquery-3.2.1.min.js"></script>
    <script src="../static/throttle.js"></script>

    <title>Spionrobot</title>

  </head>
  <body>

    <!--
    The <div> tag defines a division or a section in an HTML document. The <div> element is often used as a container
    for other HTML elements to style them with CSS or to perform certain tasks with JavaScript.

    class: Specifies one or more classnames for an element (refers to a class in a style sheet)
    id: Specifies a unique id for an element. Often used in javascript document.getElementById("idOfTheElement")
    -->
    <div class="container">
        <div id="zone_joystick">

            <!--
            script tag:
                The <script> tag is used to define a client-side script (JavaScript). The <script> element either
                contains scripting statements, or it points to an external script file through the src attribute.
                Common uses for JavaScript are image manipulation, form validation, and dynamic changes of content.
            -->
          <script language="JavaScript">
            // window:
            //      The window object represents an open window in a browser.
            //      If a document contain frames (<iframe> tags), the browser
            //      creates one window object for the HTML document, and one additional window object for each frame.
            //  window.location:
            //      Returns the Location object for the window
            //      The location object contains information about the current URL.
            //  window.location.protocol:
            //      Sets or returns the protocol of a URL (http, https etc...). Returns string http:
            //  window.location.hostname:
            //      Sets or returns the hostname of a URL. Returns a string. in out case the ip address
            //  document.write:
            //      Write directly to the HTML document. In our case adds a img tag with id video_source and where the
            //      src points the the template/stream.mjpg file which is like a picture that gets updated really fast
            //      and this makes it so that we think that its a stream or a video but in reality its pictures
            document.write('<img id="video_source" src="' + window.location.protocol + '//' + window.location.hostname + ':5001' + '/stream.mjpg' + '"/>' );
            //console.log("' + window.location.protocol + '//' + window.location.hostname + ':5001' + '/stream.mjpg' + '");
          </script>

            <!--
            Example of video source shown on the whole page

            <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
            WCAG general accessibility recommendation is that media such as background video play through only once.
            Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
            <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
            <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
            </video>
            -->
        </div>

          <div class = infoBox>
            <div class="robotInfo">
                NotASpy
                <!--
                    ul: The <ul> tag defines an unordered (bulleted) list.
                    Use the <ul> tag together with the <li> tag to create unordered lists.
                -->
                <ul>
                    <li id="usedSpaceDiskRobot">Used space on the robot: 0.0 %</li>
                    <li id="state">State: Stop</li>
                    <li id="angle_deg">Angle Degrees: 0°</li>
                    <li id="angle_dir">Angle Direction: Up</li>
                    <li id="force">Joystick Force: 1.0</li>
                </ul>
            </div>
            
            <div class="sensorsInfo">              
              <!--
                  ul: The <ul> tag defines an unordered (bulleted) list.
                  Use the <ul> tag together with the <li> tag to create unordered lists.
              -->
              <div class="distanseSensor">
                Distance sensor:
                <ul>
                    <li id="distanceSensorReading">0.0</li>
                </ul>
              </div>

              <div class="lysogFargeSensor">
                Light-Color sensor:
                <ul>
                  <li id="lightcolorSensorReading_Red">0.0</li>
                  <li id="lightcolorSensorReading_Green">0.0</li>
                  <li id="lightcolorSensorReading_Blue">0.0</li>
                  <li id="lightcolorSensorReading_Alpha">0.0</li>
                </ul>
              </div>
            </div>

            <div id="divListingMain">
              List of Images:
                <div id="divlistOfImages">

                </div>

              List of Videos:
                <div id="divlistOfVideos">
                  
                </div>

              List of Sound Recordings:
                <div id="divlistOfSound">
                  
                </div>
            </div>
          </div>

        <div class = "controlBox">
          <div class="imageControl">
              <img id="keyboardImage" src="" alt="Image representing the current state of controls" height="42" width="42">
          </div>

          <div class="buttons">
            <button id="buttonTakePicture" type="button">Take picture</button>
            <button id="buttonTakeVideo" type="button">Start video</button>
            <button id="buttonTakeAudio" type="button">Start audio</button>
            <button id="buttonMoveFilesToUSB" type="button">Move Files to USB</button>
            <button id="buttonRemoveFilesOnRobot" type="button">Remove data from the robot</button>
            <button id="buttonSelfDriving" type="button">Turn Self-Drive On</button>
          </div>
        </div>
    </div>

  </body>
</html>

<script>
        var joystick;
        var width = 1280;
        var joystick_size_factor = 1280;
        var joystick_default_size = 150;
        var joystick_current_size = joystick_default_size * width / joystick_size_factor;
        var server_address = window.location.protocol + "//" + window.location.host + "/robot";
        var server_address_image = window.location.protocol + "//" + window.location.host + "/static/image";
        var server_address_video = window.location.protocol + "//" + window.location.host + "/static/video";
        var server_address_audio = window.location.protocol + "//" + window.location.host + "/static/sound";
        var server_address_move_files = window.location.protocol + "//" + window.location.host + "/move_files";
        var server_address_distance = window.location.protocol + "//" + window.location.host + "/distance";
        var server_address_lightcolor = window.location.protocol + "//" + window.location.host + "/lightcolor";
        var server_address_usedspace = window.location.protocol + "//" + window.location.host + "/usedSpaceDisk";
        var server_address_remove_files = window.location.protocol + "//" + window.location.host + "/removeFilesOnRobot";
        var server_address_self_driving_toggle = window.location.protocol + "//" + window.location.host + "/selfDriving";
        var server_address_listImages = window.location.protocol + "//" + window.location.host + "/list_images";
        var server_address_listVideos = window.location.protocol + "//" + window.location.host + "/list_videos";
        var server_address_listSound = window.location.protocol + "//" + window.location.host + "/list_sounds";

        //Take video and take audio flags (either true or false)
        var videoRunning = false;
        var audioRunning = false;

        //Flag variable that indicates if robot is in self driving mode or not
        var selfDrivingMode = false;

        var keyboardImageState = {nothing: "../static/keyboardNothing.png",
                                  a: "static/keyboardA.png",
                                  s: "static/keyboardS.png",
                                  d: "static/keyboardD.png",
                                  w: "static/keyboardW.png",
                                  wa: "static/keyboardWA.png",
                                  ws: "static/keyboardWS.png",
                                  wd: "static/keyboardWD.png",
                                  as: "static/keyboardAS.png",
                                  ad: "static/keyboardAD.png",
                                  ds: "static/keyboardDS.png"}

        // The setInterval() method calls a function at specified intervals (in milliseconds).
        setInterval(timerFunction, 1000);
        setInterval(slowTimerFunction, 5000);

        // Set the image tag at the beginning to be nothing
        //document.getElementById('keyboardImage').src = keyboardImageState.nothing
        document.getElementById('keyboardImage').src = keyboardImageState.nothing

        // the data that's transformed as a query and sent to the server
        // changes while the joystick is used
        // object literal. gopigo3_orientation will now be an object with gopigo3_orientation.state etc...
        var gopigo3_orientation = {
            state: 'stop',
            angle_degrees: 0,
            angle_dir: 'forward',
            force: 1
        };

        // configure the joystick, where it should be placed, mode, catchdistance, ,its color, size, fade time
        // object literal the same way as gopigo3_orientation declared/defined above.
        var joystick_config = {
            zone: document.getElementById('zone_joystick'),
            mode: 'semi',
            catchDistance: 150,
            color: 'Salmon',
            size: joystick_current_size,
            fadeTime: 500,
            restOpacity: 0.0
        };

        // zone_joystick is the div defined above.
        // The onclick event occurs when the user clicks on an element.
        // when zone_joystick has been clicked call createNipple function
        document.getElementById('zone_joystick').onclick = createNipple;

        // when user clicks on the take picture button
        document.getElementById('buttonTakePicture').onclick = takePicture;

        // when user clicks on the take video button
        document.getElementById('buttonTakeVideo').onclick = videoStartStop;

        // when user clicks on the take audio buttons
        document.getElementById('buttonTakeAudio').onclick = audioStartStop;

        // when user clicks on the move files button
        document.getElementById('buttonMoveFilesToUSB').onclick = moveFilesToUSB;

        // when user clicks on the remove files on robot button
        document.getElementById('buttonRemoveFilesOnRobot').onclick = removeFilesOnRobot;

        // when user clicks on the self driving button, to turn the robot to self-driving mode or to turn that mode off
        document.getElementById('buttonSelfDriving').onclick = selfDrivingStartStop;

        // Define empty object.
        // The individual keys will be the property and boolean that is either true if the key has been pressed and not released
        // or false is the key has been pressed and then released
        // This will hold the state of each key on the keyboard. If its pressed or not
        var keysState = {};

        // function for throttling the rate of sending data
        // sends data every 250 ms
        // imported throtle.js -> throttle(func, wait, options):
        //      Returns a function, that, when invoked, will only be triggered at most once
        //      during a given window of time. Normally, the throttled function will run
        //      as much as it can, without ever going more than once per `wait` duration
        // anonymous function what used here as the 2 parameter
        var send_throttled_data = throttle(function(server_address, query_string, sent_data){
            //If self driving mode is on, dont let control of robot
            if(selfDrivingMode == false){
              setOnScreen(sent_data); // change the on-screen data
              //console.log('move robot', sent_data);

              $.post(server_address + query_string);
            }
        }, 250);

        document.addEventListener('keyup', function(event) {
            // Mark the key in the keyState
            keysState[event.keyCode] = false;

              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.nothing
        });

        document.addEventListener('keydown', function(event) {

            //If robot is in self-driving mode, disable manual control of the robot
            if(selfDrivingMode == true)
              return;

            // Mark the key in the keyState
            keysState[event.keyCode] = true;

            // w(arrow_up) AND d(arrow_right) pressed
            if((keysState["87"] == true || keysState["38"] == true) && (keysState["68"] == true || keysState["39"] == true))
            {
              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.wd

              //console.log("pressed w and d");
              gopigo3_orientation.state = 'move';
              gopigo3_orientation.angle_degrees = 45.0;
              gopigo3_orientation.angle_dir = 'up'; // does nothing
              gopigo3_orientation.force = 100;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              // send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);

            }
            // w(arraw_up) AND a(arrow_left) pressed
            else if ((keysState["87"] == true || keysState["38"] == true) && (keysState["65"] == true || keysState["37"] == true))
            {
              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.wa

              //console.log("pressed w and a");
              gopigo3_orientation.state = 'move';
              gopigo3_orientation.angle_degrees = 135.0;
              gopigo3_orientation.angle_dir = 'up'; // does nothing
              gopigo3_orientation.force = 100;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              // send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);

            }
            // w(arrow_up) AND s(arrow_down) pressed
            else if ((keysState["87"] == true || keysState["38"] == true) && (keysState["83"] == true || keysState["40"] == true))
            {
              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.ws

              //console.log("pressed w and s");
              // forwards and backwards cancel eachother out. Don't move the robot (Stop the robot)
              gopigo3_orientation.state = 'stop';
              gopigo3_orientation.angle_degrees = 0.0;
              gopigo3_orientation.angle_dir = 'up'; // does nothing
              gopigo3_orientation.force = 1;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              // send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);

            }
            // a(arrow_left) AND d(arrow_right) pressed
            else if ((keysState["65"] == true || keysState["37"] == true) && (keysState["68"] == true || keysState["39"] == true))
            {
              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.ad

              //console.log("pressed a and d");
              // Move robot to the left and to the right. This cancels out. Stop the robot
              gopigo3_orientation.state = 'stop';
              gopigo3_orientation.angle_degrees = 0.0;
              gopigo3_orientation.angle_dir = 'up'; // does nothing
              gopigo3_orientation.force = 1;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              // send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);

            }
            // a (arrow_left) AND s(arrow_down) pressed
            else if ((keysState["65"] == true || keysState["37"] == true) && (keysState["83"] == true || keysState["40"] == true))
            {
              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.as

              //console.log("pressed a and s");
              gopigo3_orientation.state = 'move';
              gopigo3_orientation.angle_degrees = 225.0;
              gopigo3_orientation.angle_dir = 'down'; // does nothing
              gopigo3_orientation.force = 100;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              // send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);

            }
            // d(arrow_right) AND s(arrow_down) pressed
            else if ((keysState["68"] == true || keysState["39"] == true) && (keysState["83"] == true || keysState["40"] == true))
            {
              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.ds

              //console.log("pressed d and s");
              gopigo3_orientation.state = 'move';
              gopigo3_orientation.angle_degrees = 315.0;
              gopigo3_orientation.angle_dir = 'down'; // does nothing
              gopigo3_orientation.force = 100;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              // send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);

            }
            else if((keysState["87"] == true || keysState["38"] == true)) // if pressed w or arrow_up
            {
              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.w

              //console.log("pressed w or arrow up");
              gopigo3_orientation.state = 'move';
              gopigo3_orientation.angle_degrees = 89.0;
              gopigo3_orientation.angle_dir = 'up';
              gopigo3_orientation.force = 100;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              // send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);
            }
            else if((keysState["83"] == true || keysState["40"] == true)){ // if pressed s or arrow_down
              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.s

              //console.log("pressed s or arrow down");
              gopigo3_orientation.state = 'move';
              gopigo3_orientation.angle_degrees = 270.0;
              gopigo3_orientation.angle_dir = 'down';
              gopigo3_orientation.force = 100;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              //send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);

            }
            else if((keysState["65"] == true || keysState["37"] == true)) { // if pressed a or arrow_left
              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.a

              //console.log("pressed a or arrow left");
              gopigo3_orientation.state = 'move';
              gopigo3_orientation.angle_degrees = 180.0;
              gopigo3_orientation.angle_dir = 'left';
              gopigo3_orientation.force = 100;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              //send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);

            }
            else if((keysState["68"] == true || keysState["39"] == true)) { // if pressed d or arrow_right
              // Update keyboard image with correct src
              document.getElementById('keyboardImage').src = keyboardImageState.d

              //console.log("pressed d or arrow right");
              gopigo3_orientation.state = 'move';
              gopigo3_orientation.angle_degrees = 360.0;
              gopigo3_orientation.angle_dir = 'right';
              gopigo3_orientation.force = 100;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              //send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);
            }
        });

        document.addEventListener('keyup', function(event) {
              //If robot is in self-driving mode, disable manual control of the robot
              if(selfDrivingMode == true)
                return;

              gopigo3_orientation.state = 'stop';
              gopigo3_orientation.angle_degrees = 0;
              gopigo3_orientation.angle_dir = 'forward';
              gopigo3_orientation.force = 1;

              // make/produce string that will be the query to the server
              query_string = '?' + $.param(gopigo3_orientation);

              //send data
              send_throttled_data(server_address, query_string, gopigo3_orientation);
        });

        // Function that gets called by the timer every 3 seconds without stopping
        function timerFunction()
        {
          // Update the reading from the distance sensor
          updateReadingDistance();

          // Update the reading from the light and color sensor
          updateReadingLightColor();
        }

        function slowTimerFunction()
        {
          
          //Update list of all images, videos, and sound
          updateFileLists();

          // Update on how much used space in percantage the disk is at
          updateUsedSpace();

        }

        function updateReadingDistance()
        {
              // Query the server
              // From: https://www.w3schools.com/jquery/ajax_get.asp
              $.get(server_address_distance, function(data, status){
                //console.log("updateReadingDistance() result: " + data);
                document.getElementById('distanceSensorReading').innerHTML = data + ' mm';
              });
        }

        function updateReadingLightColor()
        {
              // Query the server
              // From: https://www.w3schools.com/jquery/ajax_get.asp
              $.get(server_address_lightcolor, function(data, status){
                //console.log("updateReadingLightColor() result: " + data);
                
                // Remove '(', ',' and ')'
                var data = data.replace("(", "");
                var data = data.replace(/,/g, ""); // replace/remove all occurences of ',' 
                var data = data.replace(")", "");

                // Split a string into an array of substrings [0]Red, [1]Green, [2]Blue, [3]Alpha
                var array = data.split(" ");

                document.getElementById('lightcolorSensorReading_Red').innerHTML = parseFloat(array[0]).toFixed(5) + " Red";
                document.getElementById('lightcolorSensorReading_Green').innerHTML = parseFloat(array[1]).toFixed(5) + " Green";
                document.getElementById('lightcolorSensorReading_Blue').innerHTML = parseFloat(array[2]).toFixed(5) + " Blue";
                document.getElementById('lightcolorSensorReading_Alpha').innerHTML = parseFloat(array[3]).toFixed(5) + " Alpha";
              });
        }

        function updateUsedSpace()
        {
              // Query the server
              // From: https://www.w3schools.com/jquery/ajax_get.asp
              $.get(server_address_usedspace, function(data, status){
                //console.log("updateUsedSpace() result: " + data);                

                document.getElementById('usedSpaceDiskRobot').innerHTML = "Used space on the robot: " + data + "%";
              });
        }

        function updateFileLists()
        {
              // Query the server
              // From: https://www.w3schools.com/jquery/ajax_get.asp
              $.get(server_address_listImages, function(data, status){
                //console.log("Images: " + data);
                var array = data

                document.getElementById('divlistOfImages').innerHTML = "";

                var string = "";
                for(i = 0; i < array.length; i++)
                  string += array[i] + "\n";

                document.getElementById('divlistOfImages').innerHTML = string;
              });

              // Query the server
              // From: https://www.w3schools.com/jquery/ajax_get.asp
              $.get(server_address_listVideos, function(data, status){
                //console.log("Videos: " + data);
                var array = data

                document.getElementById('divlistOfVideos').innerHTML = "";

                var string = "";
                for(i = 0; i < array.length; i++)
                  string += array[i] + "\n";

                document.getElementById('divlistOfVideos').innerHTML = string;
              });

              // Query the server
              // From: https://www.w3schools.com/jquery/ajax_get.asp
              $.get(server_address_listSound, function(data, status){            
                //console.log("Sound: " + data);
                var array = data

                document.getElementById('divlistOfSound').innerHTML = "";

                var string = "";
                for(i = 0; i < array.length; i++)
                  string += array[i] + "\n";

                document.getElementById('divlistOfSound').innerHTML = string;
              });

        }

        function takePicture() {
            console.log("Take picture button clicked");

            // data -> contains the resulting data from the request
            // status -> contains the status of the request ("success", "notmodified", "error", "timeout", or "parsererror")
            $.post(server_address_image, function(data, status){            
                if(status == "success")
                {
                  alert("Bilde har blitt tatt!");
                }else{
                  alert("Noe gikk feil. Bilde ble *IKKE* tatt");
                }
            });
        }
		
        function videoStartStop() {      
          // If videoRunning == false -> video has not been started yet
          // If videoRunnong == true -> video is still running
          if(videoRunning == false) {
            document.querySelector('#buttonTakeVideo').textContent = "Stop video";
            takeVideoStart();
          } else {
            document.querySelector('#buttonTakeVideo').textContent = "Start video";
            takeVideoStop();
          }
        }

        function takeVideoStart() {
          //console.log("Take video start button clicked, button disabled");

          query_string = '?' + "recording=True";
          $.post(server_address_video + query_string);

          videoRunning = true;
        }

        function takeVideoStop() {
          //console.log("Take video stop button clicked, button enabled again");

          query_string = '?' + "recording=False";
          $.post(server_address_video + query_string, function(data, status){            
                if(status == "success")
                {
                  alert("Video har blitt tatt/lagret!");
                }else{
                  alert("Noe gikk feil. Video ble *IKKE* lagret");
                }
          });

          videoRunning = false;
        }

        function selfDrivingStartStop() {
          // If selfDriving == false -> robot is not in self driving mode, user can control the robot normally
          // If selfDriving == true -> robot is IN self driving mode, user CANNOT control the robot manually.
          if(selfDrivingMode == false) {
            document.querySelector('#buttonSelfDriving').textContent = "Turn Self-Drive Off";
            selfDrivingStart();
          } else {
            document.querySelector('#buttonSelfDriving').textContent = "Turn Self-Drive On";
            selfDrivingStop();
          }
        }

        function selfDrivingStart() {
          console.log("Self driving button clicked, initiating self drive");

          query_string = '?' + "selfDriving=True";
          $.post(server_address_self_driving_toggle + query_string);

          selfDrivingMode = true;
        }

        function selfDrivingStop(){
          console.log("Self driving button clicked, stopping self drive");

          query_string = '?' + "selfDriving=False";
          $.post(server_address_self_driving_toggle + query_string);
          
          selfDrivingMode = false;
        }

        function audioStartStop() {	
          // If audioRunning == false -> audio has not been started yet
          // If audioRunning == true -> audio recording is still running   
          if(audioRunning == false) {
            document.querySelector('#buttonTakeAudio').textContent = "Stop audio";
            takeAudioStart();
          } else {
            document.querySelector('#buttonTakeAudio').textContent = "Start audio";
            takeAudioStop();
          }
        }
		
        function takeAudioStart() {
            //console.log("Take audio start button clicked");
            query_string = '?' + "recording=True";
            $.post(server_address_audio + query_string);

            audioRunning = true;
        }

        function takeAudioStop() {
          //console.log("Take audio stop button clicked");		
          query_string = '?' + "recording=False";
          $.post(server_address_audio + query_string, function(data, status){            
                if(status == "success")
                {
                  alert("Lydopptak har blitt tatt/lagret!");
                }else{
                  alert("Noe gikk feil. Lydopptak ble *IKKE* tatt/lagret");
                }
          });

          audioRunning = false;
        }

        function moveFilesToUSB(){
            //console.log("Move files to usb button has been pressed");

            // Check if video and audio is stopped before moving files
            if(audioRunning == false && videoRunning == false)
            {
              $.get(server_address_move_files, function(data, status){            
                if(data == "0") // if data 0 -> success 
                {
                  alert("Overføring av filene vellykket!");
                }else{
                  alert("Noe gikk feil. Filene ble *IKKE* overført til minnepennen!");
                }
            });
            }else{
              alert("Kan ikke overføre filene. Først stopp audio og/eller video.");
            }
        }

        // This function gets called when remove files on robot button is pressed. Removes files (video, image, sound from robot)
        function removeFilesOnRobot(){
            // Check if video and audio is stopped before moving files
            if(audioRunning == false && videoRunning == false)
            {
              if (confirm('Vil du slette alle bilder, video og lydoptakk lagret på roboten?')) {
                $.get(server_address_remove_files, function(data, status){            
                if(data == "0") // if data 0 -> success 
                {
                  alert("Bilder, video og lydoptakk slettet fra roboten!");
                }else{
                  alert("Noe gikk feil. Filene ble *IKKE* slettet fra roboten!");
                }
              });
              }
            }else{
              alert("Kan ikke slette filene fra roboten. Først stopp audio og/eller video.");
            }
        }

        // after creating the joystick, state some event handlers for it
        function bindNipple() {

            // when the joystick is moved around, send data to the server
            joystick.on('move dir', function(evt, data) {

              gopigo3_orientation.state = 'move';
              gopigo3_orientation.angle_degrees = data.angle.degree;
              if('direction' in data) {
                gopigo3_orientation.angle_dir = data.direction.angle;
              }
              gopigo3_orientation.force = data.force;
              query_string = '?' + $.param(gopigo3_orientation);

              // use the following function instead the usual $.post
              // so that we can throttle the rate of sending data
              // good practice for not "choking" the network
              send_throttled_data(server_address, query_string, gopigo3_orientation);
            })

            // when the joystick is released, send the stop command
            // for stopping the robot from moving
            joystick.on('end', function(evt, data) {

                setTimeout(function(){
                    gopigo3_orientation.state = 'stop';
                    query_string = '?' + $.param(gopigo3_orientation);

                    setOnScreen(gopigo3_orientation);
                    //console.log('stop robot', gopigo3_orientation);

                    $.post(server_address + query_string);

                }, 300);

            })
        }

        // for creating a new on-screen joystick
        function createNipple(evt) {
            var type = typeof evt === 'string' ? evt : evt.target.getAttribute('data-type');
            if (joystick) {
              joystick.destroy();
            }
            joystick = nipplejs.create(joystick_config);
            bindNipple();
        }

        // resize the joystick depending on the width length
        window.onresize = function(){
            width = document.getElementById('zone_joystick').offsetWidth;
            joystick_current_size = joystick_default_size * width / joystick_size_factor;
            joystick_config.size = joystick_current_size;
        }

        // change the on-screen data
        function setOnScreen(data) {
            document.getElementById('state').innerHTML = "State: " + data.state
            document.getElementById('angle_deg').innerHTML = 'Angle Degrees: ' + data.angle_degrees.toFixed(2);
            document.getElementById('angle_dir').innerHTML = 'Angle Direction: ' + data.angle_dir;
            document.getElementById('force').innerHTML = 'Joystick Force: ' + data.force.toFixed(2);
        }

        function downloadURI()
        {
            uri= window.location.protocol + '//' + window.location.hostname + ':5001' + '/stream.mjpg';
            console.log("uri" + uri)
            name='image';
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            document.body.appendChild(link)
            link.click();
            link.remove()
        }

        function saveBlob(blob, filename) {
          const url = URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.href = url;
          a.download = filename;
          a.click();
        }        
    </script>
